.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main-section{
  width: 800px;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #315f61;
  overflow: hidden;
  flex-direction: column;
}
.header {
  min-height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: cadetblue;
  width: 100%;
  position: relative;
  right: 0px;
}


.devName{
  position: fixed;
  bottom: 40px;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}
.devName span{
  width: 166px;
    background-color: #315f61;
    padding: 10px 20px;
}